<ion-header>
  <ion-toolbar>
    <ion-title>Explorar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <ion-tabs>

    <ion-tab-bar slot="top">
      <ion-tab-button tab="libros">
        <ion-label>Libros</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="musica">
        <ion-label>Música</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="peliculas">
        <ion-label>Películas</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  
  </ion-tabs>
</ion-content>
