<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-menu-toggle auto-hide="false" >
          <ion-item [routerLink]="['/home']">
            <ion-icon slot="start" name="home"></ion-icon>
            <ion-label>
              Home 
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
  
        <ion-menu-toggle auto-hide="false" >
          <ion-item [routerLink]="['/explorar']">
            <ion-icon slot="start" name="list"></ion-icon>
            <ion-label>
              Explorar
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
  
        <ion-menu-toggle auto-hide="false" >
          <ion-item [routerLink]="['/compras']">
            <ion-icon slot="start" name="list"></ion-icon>
            <ion-label>
              Compras
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false" >
          <ion-item [routerLink]="['/cuenta']">
            <ion-icon slot="start" name="list"></ion-icon>
            <ion-label>
              Cuenta
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false" >
          <ion-item [routerLink]="['/ajustes']">
            <ion-icon slot="start" name="list"></ion-icon>
            <ion-label>
              Ajustes
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
